<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!-- No activity needed here if it's just a plugin library, 
             unless you have specific activities to launch -->
    </application>
</manifest>
